html, body, #root, .app {
    height: 100%;
}

#root {
    background-color: rgb(129, 152, 183);
}

.app {
    background-color: white;
    max-width: 480px;
    display: flex;
    flex-direction: column;
}

.app-header {
    background-color: rgb(209, 230, 247);
    margin-bottom: 1rem;
}

.app-header img {
    display: block;
    width: 100%;
    padding: .66rem;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    text-align: center;
}

.form-signin .btn-primary {
    margin-top: .5rem;
}
